*{box-sizing: border-box;}
fieldset{border: 1px solid lightslategrey ;
    font-size:x-large;
padding: 35px;
}
input[type=text],input[type=email]
,input[type=password],input[type=tel]
{
width: 100%;
padding: 12px;
border: 1px solid #ccc;
border-radius: 25px;
resize: vertical;
}
label{
    padding: 12px 12px 12px 0;
    display: inline-block;
    font-size: large;
    text-decoration: solid;
    border-radius: 15px;
}
input[type=submit]
{
background-color:#4caf50;
color:white;
width: 120px;
border-radius: 25px;
padding: 12px 20px;
float: right;
border: none; 
}
input[type=submit]:hover
{background-color: #45a049;}
.content {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
.col-25{
    float: left;
    width: 25%;
    margin-top: 6px;
}
.col-75{
float: left;
width:75%;
margin-top: 6px;
}
.row:after{
    content: "";
    display: table;
    clear: both;
}
@media screen and (max-width:600px) {
    .col-25,.col-75,input[type=submit]
    {width: 100%;
    margin-top: 0;}
}